@page "/"

<h1>20 Questions Game</h1>

<p>Demo by <a href="https://github.com/MetalMichael" target="_blank">Michael Fiford</a></p>

<h2>Stack:</h2>

<ul>
    <li>ASP.NET Core</li>
    <li>Blazor</li>
    <li>MongoDB</li>
</ul>